:root {
  --logo-color: #000000;
  --brand-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --text-alt-color: #ffffff;
  --background-color: #ffffff;
  --background-alt-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --header-border-color: #ececec;
  --button-hover-color: #188ce8;
  --icon-color: #afb1b8;
  --hero-background-color: #c4c4c4;
  --porfolio-item-border-color: #eeeeee;
}

%link {
  text-decoration: none;
}
%list {
  list-style: none;
}
%flex-ai-center {
  display: flex;
  align-items: center;
}
%title-item {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
